#faq {
    padding: 2em;
}

.faq-button {
    width: 100%;
    text-align: center;
    background-color: #f8f9fa;
}

.faq-button:hover {
    color: white;
    background-color: #313D57;
}

#title {
    padding-bottom: 0.5em;
}
